/*ページネーションデザイン*/
.pagination>li>a {          
  border: none;
  color: #ed7700;
  background-color: #FFF4E0;
  text-decoration: underline;
}

.pagination>.active>a {     
  background: #ffbc61;
  text-decoration: none;
}

.pagination>li>a:hover {        
  color: black;
}

.pagination{
  margin: 0 auto 30px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}